body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    /* height: 100vh; */
    background-color: black;
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    display: flex;
    background-color: transparent; /* 배경색 투명으로 만들기 */
    align-items: center;
    padding: 8px 24px;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 80px;
    z-index: 10;
    box-sizing: border-box; /* 전체 너비에 패딩이 포함되어 패딩이 넘치거나 오른쪽이 잘리는 것을 방지 */
}

.navbar__logo img {
    width: 100px;
    height: auto;
    /* object-fit: contain; */
}

.navbar__menu {
    display: flex;
    padding-left: 20px;
}

.navbar__menu li {
    list-style: none;
    padding: 8px 18px;
}

.navbar__icons {
    color: white;
    display: flex;
    justify-content: flex-end;
    margin-left: auto; /* 자동으로 사용 가능한 모든 공간 차지하여 오른쪽으로 밀어냄 */
}

.navbar__icons li {
    list-style: none;
    padding: 8px 10px;
}

.banner {
    position: relative;
    /* width: 100vw; */
    height: 80vh;
    background-image: url('wave.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 40px;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.banner__phrase {
    color: black;
    font-size: 24px;
    padding: 5px 8px;
    background-color: beige;
    border-radius: 4px;
}

.banner__button {
    display: flex;
    justify-content: flex-end;
}

button {
    color: white;
    font-size: 15px;
    background-color: rgb(0, 0, 0, 0.4);
    border: 0;
    outline: 0;
    border-radius: 8px;
    padding: 5px 18px;
}

.group {
    display: flex;
    width: 100vw;
    overflow: hidden;
    > * {
        flex: 0 0 100%;
    }
}

h2 {
    margin: 0;
    color: white;
}

.infinite {
    margin-top: 30px;
    padding: 0 15px;
    width: calc(100vw - 15px); /* '100vw'를 사용할 때의 문제점은 계산에 스크롤 막대가 포함되어 패딩이나 여백이 추가될 때 레이아웃이 가로로 오버플로됨 */
    box-sizing: border-box;
    overflow: hidden;
    /* padding: 0 15px; */
}

.infinite li {
    list-style: none;
}

.infinite img {
    width: 300px;
    height: 300px;
    object-fit: cover; /* 사진이 찌그러지지 않고 크기에 맞게 배치됨 */
    margin-right: 10px;
}

.infinite__image {
    display: flex;
    padding: 0;
    will-change: transform;
    animation: scrolling 20s linear infinite;
}

@keyframes scrolling {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

.scroll {
    padding: 10px 15px;
    overflow: hidden;
}
.wrap-vertical {
    display: flex;
    width: 100%;
    margin: 20px 0;
    box-sizing: border-box;
    overflow: scroll;
    border-radius: 10px;

    overflow: auto;
    white-space: nowrap;
}

.scroll li {
    list-style: none;
}

.scroll img {
    width: 200px;
    height: 300px;
    object-fit: cover; /* 사진이 찌그러지지 않고 크기에 맞게 배치됨 */
    margin-right: 10px;
    border-radius: 4px;
}

.wrap__image {
    display: flex;
    padding: 0;
}