@import "./reset.css";

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #7FA1C3;
    height: 32px;
    padding: 8px 12px;
}

.navbar i {
    flex-basis: 33%;
    justify-content: flex-start;
}

.title {
    flex-basis: 33%;
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;
}

.navbar__content {
    display: flex;
    flex-basis: 33%;
    justify-content: flex-end;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter {
    width: 60%;
    height: 320px;
    padding: 10px 10px;
    background-color: #6482AD;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 0;
    border-radius: 2px;
}

.filter__container {
    height: 80%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, auto);
    row-gap: 10px;
    column-gap: 10px;
}

article:nth-child(-n+2) {
    grid-column: 1/span 6;
}

article:nth-child(3) {
    grid-column: 1/3;
}

article:nth-child(4) {
    grid-column: 3/5;
}

article:nth-child(5) {
    grid-column: 5/7;
}

article:nth-child(6) {
    grid-column: 1/4;
}

article:nth-child(7) {
    grid-column: 4/7;
}

.filter__container article {
    display: flex;
    align-items: center;
}

.filter__container div {
    display: flex;
    flex-basis: 100px;
    background-color: #E2DAD6;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.filter__container input {
    flex-grow: 1;
    border-width: 0;
    outline-color: #6482AD;
    height: 100%;
    padding: 0;
}

.filter__button {
    display: flex;
    gap: 12px;
}

.filter__button button {
    color: #fffaf8;
    border-radius: 5px;
    border-width: 0;
    height: 38px;
    cursor: pointer;
}

input[type="text"], input[type="number"] {
    padding: 5px 5px;
    box-sizing: border-box;
}

.reset {
    background-color: #7FA1C3;
    flex-basis: 50%;
    
}

.search {
    background-color: #083e75;
    flex-basis: 50%;
}

.management {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.management__button {
    display: flex;
    justify-content: end;
    gap: 5px;
    margin: 5px 0;
}

.management__button button {
    color: #fffaf8;
    border-radius: 5px;
    border-width: 0;
    height: 28px;
    cursor: pointer;
}

.delete {
    background-color: #7FA1C3;
}

.add {
    background-color: #083e75;
}

th, td {
    border: 1px solid;
    border-color: #6482AD;
    padding: 10px 5px;
    text-align: center;
}

th {
    background-color: #7FA1C3;
    color: #fffaf8;
}

.modal {
    display: none;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(0,0,0,0.5);
}

.addModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    padding: 16px;
    background: #ffffff;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    font-weight: bold;
}

.header button {
    background-color: #ffffff00;
    color: #4c4a4ac7;
    border-radius: 5px;
    border-width: 0;
    cursor: pointer;
    font-size: 18px;
}

.addModal input {
    width: 100%;
}

.addBtn {
    background-color: #083e75;
    color: #fffaf8;
    border-radius: 5px;
    border-width: 0;
    height: 28px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 8px;
}